[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
ratelimit = "*"
requests = "*"
argparse = "*"
shutil = "*"
furl = "*"
json = "*"
urllib = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.9"
